footer {
  background: rgba(67, 76, 204, 0.0515);
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1170px;
  flex-grow: 1;
  margin-top: 80px;
  display: flex;
}

.footer-col {
  flex-grow: 1;
}

.logo-social {
  flex-basis: 33.32%;
}

.causae {
  flex-basis: 16.66%;
}

.aperiri {
  flex-basis: 16.66%;
}

.latest-posts {
  flex-basis: 33.32%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.footer-logo {
  margin-bottom: 40px;
}

.social {
  display: flex;
  gap: 13px;
}

.aboutus {
  width: 270px;
  margin-bottom: 32px;
}

.latest-post {
  display: flex;
  gap: 30px;
}

.latest-post__image {
  height: 48px;
  flex-grow: 0;
  width: 71px;
  border-radius: 8px;
}

.latest-post__content {
  display: flex;
  gap: 26px;
  flex-direction: column;
}
